<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaXel3C1IsXL4tIzKKj6w2KgyC6lHgkl8</string>
	<key>GCM_SENDER_ID</key>
	<string>31445552202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cibertec.ProyectoRuta</string>
	<key>PROJECT_ID</key>
	<string>proyectoruta-ef6cd</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoruta-ef6cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31445552202:ios:982eda7a2e5018ea5feab3</string>
</dict>
</plist>